<style>
    .search-btn{
        background-color: #ff385c;
        color: white;
        border-radius: 2rem;
        width: 7rem;
    }
    .search-btn:hover{
        background-color: #ff385c;
        color: white;
    }
    .search-input{
        border-radius: 2rem;
        width: 20rem;
    }
    .search-btn i{
        margin-right: 0.7rem;
    }
</style>
<nav class="navbar navbar-expand-sm bg-body-light sticky-top border-bottom">
    <div class="container-fluid">
        <a class="navbar-brand" href="/listings"><i class="fa-regular fa-compass"></i></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" href="/listings">Explore</a>
            </div>
            <form class="d-flex navbar-nav ms-auto" role="search">
                <input class="form-control me-2 search-input" type="search" placeholder="Search destinations" aria-label="Search">
                <button class="btn search-btn" type="submit"><i class="fa-solid fa-magnifying-glass"></i>Search</button>
            </form>
            <div class="navbar-nav ms-auto">
                <a class="nav-link" href="/listings/new">Airbnb your home</a>           
                <% if(!currUser){ %>
                <a class="nav-link" href="/signup"><b>Signup</b></a>
                <a class="nav-link" href="/login"><b>Login</b></a>
                <% } %>
                <% if(currUser){ %>
                <a class="nav-link" href="/logout"><b>Logout</b></a>
                <% } %>
            </div>
        </div>
    </div>
</nav>